<input type="text" [(ngModel)]="titleTrack" name="titleTrack" class"form-control">
<br>
<input type="button" value="search" (click)="onSearch()" class="btn btn-primary btn-block">

<table class="table table-striped table-bordered mt-4" [hidden]="!showList">
  <thead>
    <th>Image</th>
    <th>Track Name</th>
    <th>Details</th>
  </thead>
  <tbody>
    <tr *ngFor="let song of songs; let i=index">
      <td><img src={{song.artworkUrl100}}></td>
      <td>{{song.trackName}}</td>
      <td>detail</td>
    </tr>
  </tbody>
</table>